bgp: multi-exit discriminator support

The multi-exit discriminator attribute is defined in [RFC 4271 section 5.1.4](https://datatracker.ietf.org/doc/html/rfc4271#section-5.1.4) as

> The MULTI_EXIT_DISC is an optional non-transitive attribute that is
   intended to be used on external (inter-AS) links to discriminate
   among multiple exit or entry points to the same neighboring AS.  The
   value of the MULTI_EXIT_DISC attribute is a four-octet unsigned
   number, called a metric.  All other factors being equal, the exit
   point with the lower metric SHOULD be preferred.

This allows Oxide rack operators to influence traffic ingress from adjacent ASes. In particular it allows control of active/active configurations versus active/passive configurations. It can be used in concert with graceful shutdown to avoid packet loss during maintenance operations, manage contingencies, and give operators control over traffic (a)symmetry.

